<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.reporting.Setup"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/abdulhameed/Documents/Java_Experiments/Rest-Assured-Framework">
        <classes>
            <class name="com.reqres.ReqResTests">
                <methods>
                    <include name="createUserTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>